@media all and (max-width: 640px) {
    
    nav {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        h1 {
            font-size: 5vh;
        }

        .blockLine {
            p {
                font-size: 2.5vh;
                padding: 0% 1%;
            }
        }
    }

    .presentation {
        flex-direction: column;
        justify-content: center;
    }

    .blockProfil {
        width: 60%;
    }

    .profil {
        height: 50vw;
        margin: 0vw;
    }

    .bockText {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        width: 100%;
        color: rgb(52, 52, 52);

        p {
            margin-top: 25px;
            font-size: 2.5vh;
            color: rgb(60, 111, 178);
            width: 100%;
        }

        .line {
            height: 0px;
            width: 90%;
            border: solid rgb(60, 111, 178)1px;
            margin: 9px 0px;
            border-radius: 50px;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 90%;
            margin: 2.5px 0px;

            p {
                font-size: 2vh;
                text-align: start;
                width: 100%;
            }
            strong {
                font-size: 2.5vh;
            }

            img {
                margin-top: 10px;
                height: 60px;
            }

            .heightImg {
                margin-top: 20px;
                height: 30px;
            }

            span {
                font-size: 1.4vh;
                color: goldenrod;
            }
        }
    }

    .listContact {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 85%;
        margin-top: 20px;

        .contact {
            font-size: 2.5vh;
        }

        .linkedin {
            height: 15px;
        }
    }

    .blockContact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        width: 100%;
        border-radius: 10px;
        margin-top: 10px;

        p {
            text-align: center;
            color: white;
            font-size: 2vh;
            height: 20px;
        }

        .line {
            height: 0px;
            width: 100%;
            border: solid rgb(255, 255, 255) 1px;
            margin: 9px 0px;
            border-radius: 50px;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;

            a {
                width: 20%;
            }

            p {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                width: 80%;
            }
        }
    }

    .competences {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50px;
        height: auto;
        border-radius: 10px;
        width: 100%;
        color: rgb(60, 111, 178);

        ul {
            padding: 3% 0%;
            width: 70%;

            li {
                width: 100%;
                font-size: 2vh;
                padding: 1% 0%;
            }
        }


        .line {
            height: 0px;
            width: 90%;
            border: solid rgb(60, 111, 178)1px;
            margin: 9px 0px;
            border-radius: 50px;
        }

        img {
            height: 50px;
        }

        .infoBulle {
            height: 10px;
        }

        div {
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            width:100%;
            margin: 5px;
            border-radius: 10px;

            .boxCompetences {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: wrap;
                height: auto;
                width: 100%;
                padding: 2vh;
                border-radius: 0;
                h3 {
                    width: 100%;
                    text-align: start;
                    color: rgb(60, 111, 178);
                }
                p {
                    font-size: 2vh;
                    text-align: start;
                    margin-bottom: 1vh;
                    width: 100%;
                }

                .line {
                    width: 1px;
                }

                span {
                    padding: 0% 0%;
                }
            }
        }
    }

    .project {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 50px;
        border-radius: 0;
        border: solid rgba(255, 255, 255, 0.482) 0px;

        p {
            text-align: center;
            width: 100%;
            font-size: 3vh;
            color: rgb(255, 255, 255);
        }

        .line {
            height: 0px;
            width: 90%;
            border: solid rgb(255, 255, 255)1px;
            margin: 9px 0px;
            border-radius: 50px;
        }

        .blockProject {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            p {
                font-size: 2vh;
                color: rgb(255, 255, 255);
                background-color: rgba(255, 255, 255, 0.195);
                padding: 2% 0%;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                width: 95%;

                img {
                    height: 25vh;
                    margin: 10px 0px;
                }

                p {
                    color: white;
                    background-color: rgba(255, 255, 255, 0);
                    margin-left: 10px;
                    text-align: start;
                    font-size: 2vh;
                    width: 80%;
                }

                .marginText {
                    margin-left: 3.5vh;
                }

                a {
                    transition: 0.3s;
                }

                a:hover {
                    filter: drop-shadow(0px 0px 10px white);
                    transition: 0.3s;
                    ;
                }
            }
        }
    }

    /*-------------ParcoursProfessionelles-----------------------*/
    .parcoursPro {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        /*-------------ParcoursProfessionelles-----------------------*/
        #formation4 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            font-size: 2vh;
            color: rgb(60, 111, 178);
            height: auto;
            margin-top: 50px;

            .line {
                height: 0px;
                width: 90%;
                border: solid rgb(60, 111, 178)1px;
                margin: 9px 0px;
                border-radius: 50px;
            }
        }

        .text22 {
            opacity: 0%;
            transition: 1s;
            z-index: 2;
        }

        .text22N {
            opacity: 100%;
            transition: 1s;
            z-index: 2;
        }

        .text17 {
            opacity: 0%;
            transition: 1s;
            z-index: 2;
        }

        .text17N {
            opacity: 100%;
            transition: 1s;
            z-index: 2;
        }

        .text15 {
            opacity: 0%;
            transition: 1s;
            z-index: 2;
        }

        .text15N {
            opacity: 100%;
            transition: 1s;
            z-index: 2;
        }

        .text13 {
            opacity: 0%;
            transition: 1s;
            z-index: 2;
        }

        .text13N {
            opacity: 100%;
            transition: 1s;
            z-index: 2;
        }

        .text11 {
            opacity: 0%;
            transition: 1s;
            z-index: 2;
        }

        .text11N {
            opacity: 100%;
            transition: 1s;
            z-index: 2;
        }

        .parcours {
            display: flex;
            align-items: flex-start;
            margin: 0;
        }

        .ligne {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            z-index: 2;
            height: 80%;
            width: 5px;
            background-color: #305179c3;
            border: solid rgba(232, 213, 213, 0.437);
        }

        .button {
            margin: 2px;
            font-size: 15px;
            color: rgb(255, 255, 255);
            height: 40px;
            width: 90%;
            border-radius: 10px;
            border: none;
            border: solid whitesmoke;
            transition: 0.1s;


            .button:hover {
                border: solid whitesmoke;
                background-color: #305179c3;
                color: whitesmoke;
            }
        }
            #emplois22,
            #emplois17,
            #emplois15,
            #emplois13,
            #emplois11 {
                color: rgb(25, 66, 119);
                list-style: none;
                width: 90%;
                .metier {
                    font-size: 2.5vh;
                }

                li {
                    margin: 5px 0px;
                }
            }
 

            .boiteParcour {
                height: 500px;
                width: 90%;
                transition: 1.5s;
            }

            .boiteParcour2 {
                height: 500px;
                width: 90%;
                transition: 1s;
            }

            .time {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: 50px;
            }
        
        .buttonValide {
            margin: 2px;
            font-size: 15px;
            height: 50px;
            width: 100%;
            border-radius: 10px;
            border: solid rgb(40, 105, 166);
            color: rgb(255, 255, 255);
            transition: 0.1s;
        }
    }
        footer {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100px;
            width: 100%;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            p {
                color: white;
            }
        }
}